@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --displayHeight: 260px;
    --roundness: 20px;
    --segmentColor: ;
}
body{
    margin: 0px;
    background-color: rgb(20,20,20);
    font-family: 'Roboto', sans-serif;
}
.mainContainer{    
    box-sizing: border-box;
    width: 100vw;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.9s;
    transform: translateY(40px);
    gap: clamp(10px, calc(40 * var(--displayHeight) / 300), 60px)
}
.display{
    height: var(--displayHeight);
    width: calc(var(--displayHeight) * 140 / 260);
    display: grid;
    grid-template-columns: 14.2% 71.4% 14.2%;
    grid-template-rows: 7.7% 38.4% 7.7% 38.4% 7.7%;
    transition: 0.4s;
}
.twodots{
    height: var(--displayHeight);
    width: calc(var(--displayHeight) * 20 / 260);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15.3% 7.7% 53.8% 7.7% 15.3%;
    transition: 0.4s;
}
.dots{
    background-color: var(--segmentColor);
}
.segment{
    background-color: red;
    border-radius: var(--roundness);
}
footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 10vh;
}
.size{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.options{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.option{
    color: rgb(90,90,90);
    cursor: pointer;
}
.active{
    text-decoration: underline;
    color: rgb(140,140,140);
}
p{
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 115%;
    font-weight: bolder;
    color: rgb(170,170,170);
}
.roundness{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#corner{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: rgb(90,90,90);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 7px;
}
#corner::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 25px;  
    background: rgb(170,170,170);
    cursor: pointer;
}
  
#corner::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
#color{
    margin-left: 11%;
    width:100px;
    cursor: pointer;
    background: transparent;
    border: none;
}
